.switch {
    width: 100px;
    height: 30px;
    display: inline-block;
    position: relative;
    
    input[type=checkbox] {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%;
        opacity: 0;
        z-index: 100;
    }
    label {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: rgba(0,0,0,0.4);
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 8px;
        
        i {
            width: 50%;
            background: linear-gradient(#f7f2f6, #b2ac9e);
            position: absolute;
            top: 0; left: 0; height: 100%;
            border-radius: inherit;
            font-style: normal;
            color: #fff;
        }
        
        i:before {
            content: attr(data-off);
            position: absolute;
            top: 50%; left: 115%;
            transform: translateY(-50%);
        }
    }
    input:checked ~ label {
        i {
            left: auto;
            right: 0;
        }
        i:before {
            content: attr(data-on);
            left: auto;
            right: 115%;
        }
    }
}

.button {
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: none;
  border: 4px solid black;
  font-size: 2.5em;
  line-height: 50px!important;
  font-weight: 900;
  text-align: center;
  outline: none;
  opacity: 0.3;
  cursor: pointer;
  transition: 0.2s;
  
  &:hover {
    opacity: 0.6;
  }
}