.orgs, .teams, .sessions {
    .inner {
        width: 100%;
        background: linear-gradient(0deg, #fff, #fafafa);
    }
    .item {
        display: inline-block;
        position: relative;
        height: 140px;
        cursor: pointer;
        
        &.alert {
            animation: pulse 1s linear infinite;
        }
        
        img {
            opacity: 0.3;
            transition: opacity 0.8s;
        }
        
        .name {
            position: absolute;
            top: 50%; left: 0;
            transform: translate(0, -50%);
            color: #000;
            width: 100%;
            text-decoration: none;
            text-align: center;
        }
        
        .color-band {
            position: absolute;
            bottom: 10px; left: 0; right: 0;
            height: 20px;
            background-color: #f00;
            font-size: 0.7em;
            line-height: 20px;
            padding-left: 10px;
            color: #fff;
        }
        
        .add {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        
        .add:hover {
        }
        
        &:hover {
            transform: translateY(-10px);
            text-shadow: 0px 1px 6px #fff;
            
            img {
                opacity: 0.7;
            }
        }
    }
}

.invites {
    .item {
        display: inline-block;
        position: relative;
        border: 1px solid black;
        padding: 0.5em;
        text-align: center;
    }
}