.file-uploader {

    .resource-modal {
        width: 80%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        pointer-events: none;
        
        .inner {
            width: 38em;
            pointer-events: all;
            padding: 0;
            vertical-align: top;
            box-sizing: border-box;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            overflow: visible;
            
            form {
                display: inline;
                vertical-align: top;
            }
            .centered {
                text-align: center;
            }
            
            textarea {
                width: 100%;
                box-sizing: border-box;
            }
            
            input[type='submit'] {
                float: right;
                margin-top: 0.4em;
            }
        }
        
        .controls {
            margin: 1em 0 1em 0;
        }
        
        .close {
            position: absolute;
            top: 15%; right: 1em;
            z-index: 10;
            color: black;
        }

        
        h1 {
            transform: translateY(0%);
            transition: 0.2s;
            margin: 0.5em 0 0 0;
        }
        &.out h1 {
            transform: translateY(0%);
            transition: 0.2s;
        }
        
        .upload-target {
            display: inline-block;
            width: 150px;
            height: 150px;
            border-radius: 20%;
            transition: 0.1s;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            margin-bottom: 1em;
            
            &.uploading {
                animation: UPLOADING 2s linear infinite;
            }
            
            &:hover {
                transform: scale(1.1);
            }
            
            .progress-bar {
                position: absolute;
                top: 0; left: 0;
                height: 100%;
                width: 100%;
                z-index: 1000;
                transition: 0.1s linear all;
                border-radius: 20%;
                overflow: hidden;
                
                .progress {
                    background: rgba(0,60,20,0.4);
                    position: absolute;
                    top: 0; left: 0; height: 100%;
                }
            }
            
            svg {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                fill: rgba(0,0,0,0.2);
                z-index: 1;
            }
            img {
                z-index: 2;
            }
        }
        .upload-form {
            display: inline-block;
            width: 300px;
            text-align: left;
            vertical-align: top;
            margin-left: 10px;
            
            p {
                margin: 0px;   
                font-size: 0.8em;
            }
            .title, .url, textarea {
                width: 100%;   
                font-size: 1.2em;
                line-height: 1.6em;
                padding: 0px 0.2em;
                border-radius: 0.2em;
                border: 1px solid rgba(0,0,0,0.4);
                box-sizing: border-box;
            }
        }
        .upload-target img {
            width: 150px;
        }

        /*input[type="file"] {
            background: transparent;
            border: none;
            opacity: 0;
            position: absolute;
            top: 0; left: 0; right: 0; bottom: 0;
            font-size: 1000em;
        }*/
    }
        
    &.dragover .upload-target {
        transform: scale(1.2);
    }
}