.login {
  width: 200px;
  margin: 0 auto;
  
  .email, .password {
    width: 100%;
    box-sizing: border-box;
    padding: 0 4px;
    line-height: 2em;
    border: 1px solid #ccc;
    border-bottom: none;
    text-align: center;
  }
  .email {
    border-radius: 10px 10px 0 0;
  }
  
  .btnLogin, .btnSignup {
    width: 50%;
    box-sizing: border-box;
    line-height: 2em;
    border: 1px solid #ccc;
    float: left;
    padding: 0px;
  }
  .btnLogin {
    border-radius: 0 0 0 10px;
  }
  .btnSignup {
    border-radius: 0 0 10px 0;
  }
}