@import "pure",
        "icomoon",
        "keyframes",
        "file-uploader",
        "image-uploader",
        "messages",
        "resources",
        "roster",
        "common",
        "dashboard",
        "unit-grid",
        "session",
        "idea-bubbles",
        "idea-modal";
/*
@import url(http://weloveiconfonts.com/api/?family=zocial);

[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
*/

@font-face {
    font-family: 'AmburegulRegular';
        src: url('../fonts/Amburegul.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
@font-face {
    font-family: 'AmburegulRegular';
        src: url('../fonts/Amburegul.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
@font-face {
    font-family: 'AmburegulRegular';
        src: url('../fonts/Amburegul.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

body,html {
  margin: 10px; padding: 0;
}
body {
  padding: 0px!important;
}

.text-center {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-family: 'AmburegulRegular'; 
  font-weight: normal; 
  font-style: normal; 
}

/*
.splash {
  height: 100vh;
  background: url(https://res.cloudinary.com/pvrks/image/upload/c_scale,w_1126/v1418396816/pvrks_xyzd7l.jpg);
  background-size: cover;
  background-position: center;
  
  .overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    z-index: -1;
  }
  
  .banner {
    position: absolute;
    left: 50%; top: 50%; transform: translate(-50%,-50%);
    color: #fff;
    
    h1 {
      font-weight: 100;
      font-size: 4em;
      text-shadow: 0px 2px 0px rgba(0,0,0,0.5);
      line-height: 0em;
      opacity: 0.7;
      
      &:first-letter {
        letter-spacing: -0.05em;
      }
    }
    
    h2 {
      font-weight: 100;
      opacity: 0.7;
    }
    
    a {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      transition: 0.1s all;
      opacity: 0.7;
    }
    
    a:hover {
      opacity: 1.0;
    }
    
    .social a {
      margin: 0px 30px;
      line-height: 3em;
    }
    
    p {
      opacity: 0.4; 
    }
  }
}
*/