<div class="resources">
  <h3>
    <span ng-show="type==='org'">Organization</span>
    <span ng-show="type==='team'">Team</span>
    <span ng-show="type==='session'">Session</span>
    Resources
  </h3>
  <div ng-repeat="resource in resources.getResources(type)" class="item">
    <div class="user">
      <img class="thumbnail inline ng-isolate-scope" ng-src="https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_25,w_25/{{resource.userimage}}.jpg"></img>
      <p>{{resource.username}}</p>
    </div>
    <img class="thumbnail inline ng-isolate-scope" ng-src="https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_150,w_150/{{resource.image}}.jpg"></img>
    <h4>{{resource.name}}</h4>
  </div>
</div>
