<div>
  <a ng-href="{{resource.secureUrl}}" target="_blank">
    <div ng-class="{raw:resource.resourceType==='raw','raw-image':resource.resourceType==='rawImage'}">
      <img ng-if="resource.resourceType==='image'" class="thumbnail inline ng-isolate-scope" ng-src="https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_150,w_150/{{resource.image}}.jpg"></img>
      <img ng-if="resource.resourceType==='rawImage'" class="thumbnail inline ng-isolate-scope" ng-src="https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_150,w_150,g_north_west/{{resource.image}}.jpg"></img>
      <img ng-if="resource.resourceType==='webpage'" class="thumbnail inline ng-isolate-scope" ng-src="https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_150,w_150,g_north/{{resource.image}}.jpg"></img>

    
      <div ng-show="resource.secureUrl.indexOf('.txt')!==-1"><span class="icon-libreoffice"></span></div>
      <div ng-show="resource.secureUrl.indexOf('.doc')!==-1"><span class="icon-file-word"></span></div>
    </div>
  </a>
</div>
