<div class="splash">
  <div ng-if="user.details" ng-include="'/views/dashboard.html'" ng-controller="DashboardCtrl"></div>
  <div class="overlay"></div>
  <div class="banner text-center" ng-hide="user.details">
    <h1>PΛRKS</h1>
    <h2>Realtime Social Brainstorming</h2>
    <div class="login">
      <form name="loginForm" novalidate ng-submit="login()">
        <input type="text" ng-model="email" placeholder="Email" class="email" />
        <input type="password" ng-model="password" placeholder="Password" class="password" />
        <input type="submit" value="Log in" class="btnLogin" />
        <input type="button" value="Sign up" ng-click="signup()" class="btnSignup" />
      </form>
    </div>
    <br style="clear: left" /><br />
    <a>-- Sign in with a social network --</a>
    <div class="social">
      <a href="/api/twitter" target="_self" class="z ocial-twitter">twitter</a><a class="z ocial-facebook"></a><a class="z ocial-googleplus"></a><a class="z ocial-github"></a>
    </div>
  </div>
</div>