<h1>Profile</h1>
<div ng-show="myProfile">
<form name="profileForm" novalidate ng-submit="submit()">
  <div>
    <label>Name</label>
    <input type="text" ng-model="profileUser.name" ng-blur="submit()" />
  </div>
  <div>
    <label>Image</label>
    <div image-uploader ng-model="profileUser.image" ng-change="submit()"></div>
  </div>
  <div>
    <label>Email</label>
    <input type="text" ng-model="profileUser.email" ng-blur="submit()" />
  </div>
  <div>
    <label>Message side</label>
    <div switch="" name="side" ng-model="profileUser.side" off="Left" on="Right" ng-change="submit()"></div>
  </div>
  <div>
    <label>Color</label>
    <input minicolors ng-model="profileUser.color" ng-blur="submit()" />
  </div>
</form>
</div>
<div ng-hide="myProfile">
  {{profileUser.name}}
  <img class="thumbnail inline ng-isolate-scope" ng-src="https://res.cloudinary.com/parks-brainstorm/image/upload/c_fill,h_150,w_150/{{profileUser.image}}.jpg"></img>
</div>