<div class="session {{currentUnit.type}}">
  <div class="percentage" style="width: {{percentage}}%"></div>
  <h1>{{session.name}} <a ng-href="/session/{{session.slug}}/edit" ng-show="role < 1">edit</a></h1>
  <div>{{session.startDate | date:'short'}}</div>
  <div ng-if="inprogress">
    Session in progress
    <h3>next: {{nextStartTime | date:'short'}}</h3>
    <h1>{{currentUnit.name}}</h1>
    <div class="idea-bubbles" idea-bubbles="ideas.getIdeas()"></div>
  </div>
  <div ng-show="waitingToStart">Waiting to start... {{countdown}}</div>
  <div ng-show="finished">Session finished {{countdown}} ago</div>
  <div idea-modal="ideaOpen" session-id="{{session._id}}" unit-id="{{currentUnit._id}}"></div>
  <a ng-click="sendInvite()">Send Invite</a>
  <div ng-show="inviteToken">
    <h2>{{inviteToken}}<br />https://pvrks-ndxbxrme-2.c9.io/?{{inviteToken}}</h2>
  </div>{{ideaOpen}}
  <a class="button" ng-click="ideaOpen=true"><span class="icon-light-bulb"></span></a>
  <div messages="session" mid="{{session._id}}"></div>
</div>